/*
SEARCH BOX
*/

section input[type=text] {
    width: 50%;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid white;
    background-color: white;
    background-image: url(http://www.w3schools.com/howto/searchicon.png);
    background-position: 95% 6px; /* position of icon */
    background-repeat: no-repeat;
    padding: 8px 20px 8px 20px; /*position of text */
    box-shadow: none;
    display: inline-block;
}

section form{
    text-align: center;
    margin-left: auto;
    margin right: auto;
    margin-top: 10px;
}

/*
CARDS
*/

section {
    text-align: center;
}

section .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    margin: 5px;
    margin-top: 20px;
    display: inline-block;
    width: 23%;
}

section .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

section .container {
    padding: 2px 16px;
}

section img{
    margin: 3%;
    width: 94%;
}

/*
TABLET
*/

@media screen and (max-width: 960px) {
    section .card {
        width: 45%;
    }
}



@media screen and (max-width: 740px) {
    section .card {
        width: 98%;
        min-width: auto;
        max-width: auto;
    }
}