section article {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    margin: 5px;
    margin-top: 20px;
    width: 100%;
    display: block;
}

section article:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

section article img {
    width: 40%;
    height: auto;
    margin: 1%;
    float: left;
    display: inline-block;
}

section article .wrapper{
    float: right;
    display: inline-block;   
    width: 50%;
}

hr{
    margin-left: 1%;
    width: 55%;
    background-color: #8D3131 ;
    height: 2px;
}
h4{
    margin-left: 1%;
    font-family: 'Bazar', sans-serif;
}
p{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
}