@font-face {
    font-family: 'Bazar';
    src: url('/css/webfont/Bazar.eot?#iefix') format('embedded-opentype'),
        url('/css/webfont/Bazar.woff') format('woff'),
        url('/css/webfont/Bazar.ttf') format('truetype'),
        url('/css/webfont/Bazar.svg#Bazar') format('svg');
    font-weight: normal;
    font-style: normal; }


body {
    margin: 0;
    box-sizing: border-box;
    background-color: #F6EDD8;
    font-family: 'Bazar';
}
header{
    margin-top: -50px; /*reduce title spacing*/
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2 {
    font-family: 'Bazar';
    text-align: center;
    text-shadow: 3px 5px #FFFFFF;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

/*
NAV
*/

nav ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8D3131;
    text-align: center
}

nav ul.topnav li {
    display: inline-block;
}

nav ul.topnav li a {
    display: inline-block;
    color: #F6EDD8;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

nav ul.topnav li a:hover {
    background-color: #984545;
}

nav ul.topnav li.icon {display: none;}

#video-background {
    height: 100%;
    position: fixed;
    width: 100%;
}

@media screen and (max-width:720px) {
    nav ul.topnav li:not(:nth-child(3)) {
        display: none;
    }
    nav ul.topnav li.icon {
        float: right;
        display: inline-block;
    }

    nav ul.topnav.responsive {position: relative;}
    nav ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    nav ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}